extends layout

block style 
  link(rel='stylesheet', href='/css/home.css')

block content
  .img
  img(src='../images/favicon.png', class="icon")
  .topleft
    p 
  .middle
    h1 COINLOCALLY
    hr
    p Fastest and Easiest way to Buy, Sell & Trade Crypto
  .bottomleft
    p visit 
      a(href='//coinlocally.com') Coinlocally
